%h1 Projects 
%hr/
%br/
%h3 List of finished and unfinished projects I've been working on during the Craft Academy Boot Camp

.projects
  .project-first-webpage
    = data.projects[0].name
    %br/
    %br/
    = data.projects[0].description
    %br/
    %br/
    %form{ action: 'https://andycutter.github.io/'}
      %input.sidebar_btn{ type: 'submit', value: 'GO TO'}/
    %br/
    = link_to "#{data.projects[0].link_name}", data.projects[0].url

  .project-fizz-buzz
    = data.projects[1].name
    %br/
    %br/
    = data.projects[1].description
    %br/
    %br/
    %form{ action: 'fizzbuzz.html'}
      %input.sidebar_btn{ type: 'submit', value: 'GO TO'}/
    %br/
    = link_to "#{data.projects[1].link_name}", data.projects[1].url

  .project-bmi-calc
    = data.projects[2].name
    %br/
    %br/
    = data.projects[2].description
    %br/
    %br/
    %form{ action: 'bmicalc.html'}
      %input.sidebar_btn{ type: 'submit', value: 'GO TO'}/
    %br/
    = link_to "#{data.projects[2].link_name}", data.projects[2].url